.coffe {
  margin: 1.5rem;
  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    justify-content: space-between;
  }
  &__trash {
    &:hover {
      color: red;
    }
  }
  &__pencil {
    &:hover {
      color: yellow;
    }
  }
  &__plus {
    &:hover {
      color: green;
    }
  }
}

fa-icon {
  font-size: 2rem;
  cursor: pointer;
}
