<div class="coffe">
  <div class="coffe__buttons">
    <span (click)="openModal()"
      ><fa-icon [icon]="faPlusSquare" class="coffe__plus"></fa-icon
    ></span>
    <span (click)="openModal()"
      ><fa-icon [icon]="faPencilAlt" class="coffe__pencil"></fa-icon
    ></span>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Acciones</th>
        <th scope="col">ID</th>
        <th scope="col">Nombre del producto</th>
        <th scope="col">Referencia</th>
        <th scope="col">Precio</th>
        <th scope="col">Peso</th>
        <th scope="col">Categoria</th>
        <th scope="col">Stock</th>
        <th scope="col">Imagen</th>
        <th scope="col">Fecha de creación</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <span><fa-icon [icon]="faTrash" class="coffe__trash"></fa-icon></span>
        </th>
        <th></th>
        <td>
          <img class="mr-2" style="width: 20px" />
        </td>
        <td></td>
        <td></td>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tbody>
  </table>
</div>
