<ng-sidebar-container>
  <ng-sidebar [(opened)]="_opened">
    <span (click)="_toggleSidebar()">
      <fa-icon [icon]="faTimes"></fa-icon>
    </span>
    <ul class="menu">
      <li>
        <a routerLink="/shop" (click)="_toggleSidebar()"
          ><fa-icon [icon]="faShoppingCart"></fa-icon
        ></a>
      </li>
      <li>
        <a routerLink="/coffe" (click)="_toggleSidebar()"
          ><fa-icon [icon]="faWarehouse"></fa-icon
        ></a>
      </li>
    </ul>
  </ng-sidebar>

  <div ng-sidebar-content>
    <app-header (click)="_toggleSidebar()"></app-header>

    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>
