.header {
  width: 100%;
  background: #036635;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  span {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.2rem;
    font-size: 2rem;
    color: white;
  }
  fa-icon {
    cursor: pointer;
    &:hover {
      color: yellow;
    }
  }
}
